<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <title>vending machine</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<h1 th:text="${message}">Hello Worldでござる</h1>
<div>
    <form action="" method="post">
        <ul>
            <li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}" />
        </ul>
        <!--<input type="radio" name="drink" id="orange" value="オレンジジュース"/>-->
        <!--<label for="orange">オレンジジュース</label>-->
        <!--<br/>-->
        <!--<input type="radio" name="drink" id="cola" value="コーラ"/>-->
        <!--<label for="cola">コーラ</label>-->
        <!--<br/>-->
        <!--<input type="radio" name="drink" id="tea" value="お茶"/>-->
        <!--<label for="tea">お茶</label>-->
        <!--<br/>-->
        <!--<input type="radio" name="drink" id="coffee" value="コーヒー"/>-->
        <!--<label for="coffee">コーヒー</label>-->
        <!--<br/>-->
        <!--<input type="radio" name="drink" id="water" value="水"/>-->
        <!--<label for="water">水</label>-->
        <!--<br/>-->
        <div th:each="drink:${drinkList}">
            <input type="radio" name="drink" th:id="${drink.drinkName}" th:value="${drink.drinkId}"/>
            <label th:for="${drink.drinkName}" th:text="${drink.drinkName}">おれんじ</label>
        </div>
        10円玉<input type="text" size="1" name="yen10"/>枚<br/>
        50円玉<input type="text" size="1" name="yen50"/>枚<br/>
        100円玉<input type="text" size="1" name="yen100"/>枚<br/>
        500円玉<input type="text" size="1" name="yen500"/>枚<br/>
        1000円玉<input type="text" size="1" name="yen1000"/>枚<br/>
        <!--<input type="text" name="money" placeholder="お金を入力してください。"/>-->
        <input type="submit" value="購入"/>
    </form>
</div>
<p><a href="/logout">ログアウト</a></p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
